.fragments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
  padding: 0 .5rem .5rem;
}
.fragment {
  height: 46vw;
  /* border: 1px solid var(--color-black); */
  transition: var(--transition);
}
@media (min-width: 768px) {
  .fragments {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 1rem 1rem;
  }
  .fragment {
    height: 30vw;
  }
}
@media (min-width: 1024px) {
  .fragments {
    grid-template-columns: repeat(4, 1fr);
  }
  .fragment {
    height: 22vw;
  }
}
@media (min-width: 1120px) {
  .fragments {
    grid-template-columns: repeat(5, 1fr);
  }
  .fragment {
    height: 19vw;
  }
}
@media (min-width: 1400px) {
  .fragments {
    grid-template-columns: repeat(6, 1fr);
  }
  .fragment {
    height: 15vw;
  }
}

.fragment__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.fragment__button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fragment__button span {
  position: absolute;
  margin: 1rem;
  padding: .5rem .7rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  color: var(--color-text);
  transition: var(--transition);
  line-height: 1.3;
  cursor: pointer;
}

.fragment__button:focus span,
.fragment__button:hover span {
  background-color: var(--color-active);
  color: var(--color-white);
  border-color: var(--color-active);
}

.fragment__dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 80vw;
  height: 80vh;
  border: 1px solid var(--color-black);
  box-shadow: 0 0 0 10vw rgba(0, 0, 0, .8);
}

.fragment__dialog-close {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  transition: var(--transition);
  cursor: pointer;
}

.fragment__dialog-close:focus,
.fragment__dialog-close:hover {
  background-color: var(--color-active);
  color: var(--color-white);
  border-color: var(--color-active);
}

.fragment__slider {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.fragment__slider-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 33%;
}

.fragment__slider-intro ul {
  display: flex;
  /* justify-content: center; */
  flex-wrap: nowrap;
  gap: .5rem;
  margin: 0;
  padding: 0;
  background-color: var(--color-white-faded);
  border-radius: .3rem;
}

.fragment__slider-intro li {
  margin: 0;
  line-height: 1.2;
  list-style: '| ';
}

.fragment__slider-intro li:first-of-type {
  list-style: none;
}

.fragment__slider-intro p {
  margin: .3rem 0 0;
}

.fragment__slider img {
  width: auto;
  max-height: 100%;
}
