.terminal {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 61.803vw;
  height: 50vh;
  overflow-y: scroll;
  padding: 1.75rem 1rem 1rem;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: .2rem;
  font-family: 'Recursive', monospace;
}

.terminal::after {
  content: '';
  position: absolute;
  top: .5rem;
  left: .5rem;
  width: .6rem;
  height: .6rem;
  border-radius: 50%;
  background-color: crimson;
  box-shadow: 1rem 0 0 orange, 2rem 0 0 limegreen;
}
