---
import Basic from '../layouts/Basic.astro';
import CaseStudyTeasers from '../components/CaseStudyTeasers.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import KaeQuote from '../components/KaeQuote.astro';
import QuickStats from '../components/QuickStats.astro';
---

<Basic>
  <Header />
  <KaeQuote />
  <div class="container">
    <p class="large">Hi 👋 I'm Dan Arbello, a creative facilitator helping companies, organizations, and startups turn business hurdles and goals into strengths and realities for them and their users.</p>
    <hr>
  </div>
  <QuickStats />
  <CaseStudyTeasers />
  <Footer />
</Basic>
