---
import Basic from '../layouts/Blank.astro';
---

<Basic>
  <section>
    <div class="container" style="position:relative">
      <div class="tada-emoji">🎉</div>
      <h1 class="largest black" style="color:#5e17eb">Ivy's 5<sup>th</sup> Birthday Party</h1>
      <p class="mediumer">Please join us in celebration of Ivy's fifth birthday!</p>
      <ul class="medium">
        <li>When: 25 April 2026 | <a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=MXFrZGtyM3JsbDkxN2V0ZWEzYjFyMmhiNjMgZmgzOXNwbnJzNTd0ZTI4bDN2MzdrdWtwZ2dAZw&amp;tmsrc=fh39spnrs57te28l3v37kukpgg%40group.calendar.google.com">Add to calendar →</a></li>
        <li>Time: 2:00 PM to 4:00 PM</li>
        <li>Where: 1734 Verner Ave | <a target="_blank" href="https://maps.app.goo.gl/j496t33MoF1moX5w8">Get directions →</a></li>
      </ul>
      <p>👟 The party will be indoors and outdoors.</p>
      <p>Please RSVP with Dan at <a href="tel:4122240776">412 224 0776</a> or <a href="mailto:danielarbello@gmail.com">danielarbello@gmail.com</a>.</p>
    </div>
  </section>
</Basic>
