---
import Basic from '../layouts/Basic.astro';
---

<Basic>
  <section>
    <div class="container">
      <p class="eyebrow small--extra">Presentation</p>
      <h1 class="largest">Life is not static — your designs shouldn’t be either</h1>
      <p class="medium">A presentation/workshop  I ran at Webflow’s inaugural No Code Conference (2019) on evolving design and development operations from static to in-medium workflows.</p>
      <a href="https://docs.google.com/presentation/d/1sy0T7yEY_IkVJ4_MeO2dn1VzY-_5gvGNfBP9S2edGAg/edit?usp=sharing" target="_blank" class="standalone">Access Presentation (Google Slides) ➝</a>
    </div>
  </section>
</Basic>
