---
import Basic from '../layouts/Basic.astro';
import '../styles/patterns.css';
---

<Basic>
  <section>
    <div class="container">
      <div class="resume__header">
        <h1 class="eyebrow">Resume</h1>
        <a class="standalone smaller bold" href="/Dan%20Arbello%20-%20Resume.pdf">Download ↓</a>
      </div>
      <p class="largest"><span class="black">Dan Arbello</span></p>

      <hr>

      <h2 class="large">Objective</h2>
      <p>Join a diverse team of empathic humans and contribute my multi-faceted creative, engineering, and leadership expertise to the team and their digital products that ultimately provide a net good to the world and society.</p>

      <h2 class="large">Education</h2>
      <div class="case-study__details small--extra row left-align row--compact">
        <p class="column"><strong>2001-05 | BFA Graphic Design</strong> (Minor in Literature & Gender Studies) | <a href="https://mica.edu" target="_blank">Maryland Institute College of Art</a></p>
        <p class="column"><strong>2003 | Photography & Printmaking</strong> (Study Abroad) | <a href="https://www.arts.ac.uk/colleges/central-saint-martins" target="_blank">Central Saint Martins</a></p>
        <p class="column"><strong>2023 | So Now You’re A Manager</strong> (Cohort 23) | <a href="https://www.beplucky.com/" target="_blank">Plucky</a></p>
      </div>

      <details open>
        <summary><h2 class="large">Experience</h2></summary>

        <p class="small--extra">This list is abridged. For a full list of job experiences see <a href="https://linkedin.com/in/dan-arbello" target="_blank">my LinkedIn profile</a>.</p>

        <p class="medium">
          <strong>Chromatic</strong><span class="small--extra"> | <strong>Account + Tech Lead</strong> | <strong>2019-present</strong> | <a href="https://www.chromatichq.com/" target="_blank">chromatichq.com</a> | Remote</span>
        </p>
        <ul class="small">
          <li>Prepared and collaborated on proposal responses, as well as leading their generation in the case of agency-originating RFPs.
          <li>Shaped the org's account management processes, focusing on meeting my clients' business goals above all else. This grew current contracts and encouraged re-signing year after year.</li>
          <li>Established a mise en scène for every client and project onboarding that demystified client needs and complex tech stacks, and eased teams into discoveries and audits.</li>
          <li>Grew the agency's contracts from single-service delivery clientele to full-service partnerships, increasing a contract's revenue by 50% for one contract after several months of remediation.</li>
          <li>Charted courses for a global healthcare security corporation's acquisition of companies, organized and strategized the consumption of their digital properties' contents through several migration and re-platforming projects. As account and technical lead, headed product decisions for its core web platform establishing myself as the key contact between executive stakeholders and both the agency's and client's production teams. <a href="/case-studies/imprivata">Read the case study</a>
          <li>Conducted web performance, accessibility, and UX/UI audits and planned/remediated their optimization initiatives. One project resulted in a Lighthouse performance score increase from 20 to 80 despite a dense third party stack.</li>
        </ul>
        <p class="small--extra">Account Leadership • Technical Leadership • Engineering Management • Full-Stack Development • Drupal • Ideation & Discovery • UX/UI Design • Project Management • People Ops</p>

        <hr class="compact">

        <p class="medium">
          <strong>Chemistry</strong><span class="small--extra"> | <strong>2018-19</strong> | <a href="https://www.chemistryagency.com/" target="_blank">chemistryagency.com</a> | Pittsburgh, PA</span>
        </p>
        <p>Provided an alternative and outsider voice to a Pittsburgh advertising agency. As AoRs for a wide range of regional and national brands; I sowed the seed of next-gen digital design by showcasing, delivering, and tutoring the design and development team on in-medium design practices and substantial evolutions to UX design.</p>
        <p class="small">Consulted on and designed the redesign of the digital side of Guardian Protection’s marketing websites, products, and refining brand perception from both the UX research discovery side to the UX/UI itself.</p>
        <p class="small--extra">Art Direction • Ideation & Discovery • UX/UI Design • In-medium Prototyping • Front-End Development • Development Support</p>

        <hr class="compact">

        <p class="medium">
          <strong>Third & Grove</strong><span class="small--extra"> | <strong>2015-18</strong> | <a href="https://www.thirdandgrove.com/" target="_blank">thirdandgrove.com</a> | Remote</span>
        </p>
        <p>Evolved a faltering design department into a development agency contributing to overall success of Third & Grove as a full-service agency. Maturing the practice into an in-medium-capable design department able to provide everything from market research, ideation, content strategy, design, and prototyping for websites and apps.</p>
        <p class="small">Helped the agency win a hard-earned King Arthur Flour marketing and e-commerce website redesign and support contract. My time as a Design Lead and bouts of interviews and pitches with the VP of King Arthur Flour helped secure the retainer. Designed and built a reusable Webflow template for offshoot and subsidiaries portals and websites for the TPG brand including TPG Global, TPG Real Estate, and TPG Growth/The Rise Fund; in addition to refining many features and sections of the parent website: tpg.com.</p>
        <p class="small--extra">Ideation & Discovery • UX/UI Design • Design Leadership • People Ops Management • Project Management • Development Support • In-medium Prototyping</p>

        <hr class="compact">

        <p class="medium">
          <strong>Swedish News</strong><span class="small--extra"> | <strong>2006-15</strong> | New York City & Remote</span>
        </p>
        <p>Consulted on nearly all things editorially related for the owner and editor-in-chief of Swedish News, and its flagship magazine and newspaper, Ulf Mårtensson. From the regular art direction, editorial management, design, and prepress of the quarterly magazine to consulting on new projects and peripherals I was Ulf’s right-hand man in all facets of Swedish News publishing.</p>
        <p class="small">Art directed and designed over 30 issues of the quarterly magazine Nordic Reach, designed over 10 books/novels, and countless periodical inserts and booklets.</p>
        <p class="small--extra">Consulting • Art Direction • Ideation & Discovery • UX/UI Design • Print & Editorial Design • Front-End Development • Development Support</p>
      </details>

      <details open>
        <summary><h2 class="large">Skills, Technology, and Platforms</h2></summary>

        <h3>Sales + Management</h3>
        <ul class="small columns--three">
          <li>Bamboo</li>
          <li>Canopy (fka Know Your Team)</li>
          <li>Google Suite</li>
          <li>Harvest + Forecast</li>
          <li>HubSpot</li>
          <li>Keynote</li>
          <li>Qwilr</li>
          <li>Parallax</li>
          <li>Salesforce</li>
          <li>Slack</li>
        </ul>

        <h3>Production</h3>
        <ul class="small columns--three">
          <li>Asana</li>
          <li>Atlassian</li>
          <li>ClickUp</li>
          <li>Basecamp</li>
          <li>GitHub Projects</li>
          <li>Hive</li>
          <li>Linear</li>
          <li>Microsoft 365</li>
        </ul>

        <h3>Design + Content</h3>
        <ul class="small columns--three">
          <li>Adobe Creative Suite: XD, Illustrator, Photoshop, InDesign, After Effects</li>
          <li>Affinity Studio</li>
          <li>Canva</li>
          <li>Figma + FigJam</li>
          <li>Gather Content</li>
          <li>Miro</li>
          <li>Whimsical</li>
          <li>Wistia</li>
          <li>Vimeo</li>
          <li>Youtube</li>
        </ul>

        <h3>Language + Syntax</h3>
        <ul class="small columns--three">
          <li>🍦 HTML and flavors like Twig, Pug, and Nunjucks</li>
          <li>🍦 CSS and sassy flavors like SCSS and Stylus</li>
          <li>🍦 JavaScript and JSX flavors like React, Next, and Angular</li>
          <li>Configuration through Symfony, JSON, and Yaml</li>
          <li>Git with GitHub, Bitbucket, and GitLab</li>
          <li>Intermediate PHP, WebGL, and Python</li>
          <li>Extensive AI prompt engineering and some local setup experimenting</li>
        </ul>

        <h3>Analysis + CI/CD</h3>
        <ul class="small columns--three">
          <li>Adobe Tag Manager</li>
          <li>BrightEdge</li>
          <li>BrowserStack</li>
          <li>Calibre</li>
          <li>Diffy</li>
          <li>Google Analytics + Google Tag Manager</li>
          <li>Sentry</li>
          <li>StackHawk</li>
          <li>Tugboat</li>
        </ul>

        <h3>Platforms</h3>
        <ul class="small columns--three">
          <li>AWS S3 and ECS</li>
          <li>Drupal 8-11</li>
          <li>Eleventy (11ty)</li>
          <li>Framer</li>
          <li>Pantheon</li>
          <li>Platform.sh</li>
          <li>Shopify</li>
          <li>Squarespace</li>
          <li>Webflow</li>
          <li>Wix</li>
          <li>WordPress</li>
          <li>Vercel</li>
        </ul>
      </details>
    </div>
  </section>
</Basic>
