---
import Basic from '../layouts/Basic.astro';
import '../styles/patterns.css';
---

<Basic>
  <section>
    <div class="container">
      <div class="resume__header">
        <h1 class="eyebrow">Resume</h1>
        <a class="standalone smaller bold" href="/Dan%20Arbello%20-%20Resume.pdf">Download ↓</a>
      </div>
      <p class="largest"><span class="black">Dan Arbello</span></p>

      <hr>

      <h2 id="education">Education</h2>
      <div class="case-study__details small--extra row left-align row--compact">
        <p class="column"><strong>2001-05 | BFA Graphic Design</strong> (Minor in Literature & Gender Studies) | <a href="https://mica.edu" target="_blank">Maryland Institute College of Art</a></p>
        <p class="column"><strong>2003 | Photography & Printmaking</strong> (Study Abroad) | <a href="https://www.arts.ac.uk/colleges/central-saint-martins" target="_blank">Central Saint Martins</a></p>
        <p class="column"><strong>2023 | So Now You’re A Manager</strong> (Cohort 23) | <a href="https://www.beplucky.com/" target="_blank">Plucky</a></p>
      </div>

      <hr>

      <h2 id="experience">Experience</h2>
      <p class="small--extra">With over two decades of experience, there is no way I'm not abridging this list. For a full list of job experiences see <a href="https://linkedin.com/in/dan-arbello" target="_blank">my LinkedIn profile →</a>.</p>
      <p class="medium">
        <strong>Chromatic</strong><span class="small--extra"> | <strong>Account + Tech Lead</strong> | <strong>2019-present</strong> | <a href="https://www.chromatichq.com/" target="_blank">chromatichq.com</a> | Remote</span>
      </p>
      <p>Owned engineering and client delivery SOPs and custom strategies across critical agency accounts. Resulted in retaining 5 accounts marked “high-risk,” and <span class="weight--medium">increasing agency revenue by 440% in one year alone</span>. Managed the iterative optimization and compliance of enterprise-level, user-facing digital platforms, and the agency's privacy stance.</p>
      <ul class="small">
        <li class="weight--medium">Led cross-functional, cross-agency Agile teams in building, maintaining, and optimizing enterprise-level Drupal sites according to partner and industry accessibility, security, privacy, and technical quality requirements.</li>
        <li>Led the definition and mapping of system architecture, code quality, performance optimization, and scalability requirements.</li>
        <li>Oversaw DevSecOps practices including CI/CD pipelines, automated testing, and secure deployments.</li>
        <li>Led biweekly and monthly Agile sprint ceremonies including: requirements gathering, sprint planning, reviews, and retros.</li>
        <li class="weight--medium">Expanded single-service engagements into full-service partnerships by aligning with client executive leadership and identifying business-critical growth opportunities — resulting in a 100% success rate of both new retainers and renewals after technical remediations.</li>
        <li>Partnered closely with client stakeholders to help them become confident, effective owners of their Drupal platforms within their organizations.</li>
        <li>Charted courses for the Drupal marketing platform of a $7B-valuated global healthcare security organization through multiple acquisitions, guiding content strategy and platform evolution across major migration and re-platforming initiatives. <span class="weight--medium">Led product direction spanning security and privacy posture, regionalization and translation, and UX/UI/performance optimizations with a team consisting of both Chromatic and client engineers. <a href="/case-studies/imprivata">Read the case study</a></span></li>
        <li>Owned end-to-end development of proposal responses, partnering across teams, and delivering executive-ready submissions for agency-originated RFPs.</li>
        <li>Mentored and managed the growth of mid-level and senior engineers as Engineering Manager.</li>
        <li>Maintained technical documentation, release notes, and repositories for Drupal and static sites/apps.</li>
      </ul>
      <p class="small--extra">Account Leadership • Technical Leadership • Engineering Management • Full-Stack Development • Drupal • Ideation & Discovery • UX/UI Design & Strategy • Project Management • People Ops</p>

      <hr class="compact light">

      <p class="medium">
        <strong>Third & Grove</strong><span class="small--extra"> | <strong>Design Lead</strong> | <strong>2015-18</strong> | <a href="https://www.thirdandgrove.com/" target="_blank">thirdandgrove.com</a> | Remote</span>
      </p>
      <p>Recruited, trained, and mentored 8 designers in the new practice and through behavior- and data-driven design processes; refining the training to a maximum of one month (for entry-level digital designers), adjacent to regular IC duties. Analyzed, developed, and pitched UX/UI experiences with supporting journey maps, user flows, and design systems.</p>
      <ul class="small">
        <li>Led the redesign and iterative UX/UI optimization of SunPower's digital properties, resulting in a <span class="weight--medium">doubling of the lead generation statistics via their Drupal platform</span> and increasing brand goodwill with partner and reseller relationships. <a href="/case-studies/sunpower">Read the case study</a></li>
        <li>Led the redesign and iterative UX/UI optimization of Draper's digital brand and Drupal platform, resulting in massive increases in user flow to key pages and an average <span class="weight--medium">increase of page use/interaction by 124%</span>. <a href="/case-studies/draper">Read the case study</a></li>
      </ul>
      <p class="small--extra">Design Leadership • People Ops • Ideation & Discovery • UX/UI Design & Strategy • Project Management • Development Support • In-medium Prototyping</p>

      <hr class="compact light">

      <p class="medium">
        <strong>Swedish News</strong><span class="small--extra"> | <strong>Creative Director</strong> | <strong>2006-15</strong> | New York City & Remote</span>
      </p>
      <p>Executed the content and UX strategy, and visual design of the three core web platforms for marketing and community content contributions: nordicreach.com, nordstjernan.com, and xoxosweden.com.</p>
      <ul class="small">
        <li>Orchestrated the creative direction and ideation of countless digital projects from a Volvo-partnered Swedish culture map app to exhibition kiosks of one-off New York City events. <a href="/case-studies/swedish-news">Read the case study</a></li>
      </ul>
      <p class="small--extra">Consulting • Creative Direction • Ideation & Discovery • UX/UI Design & Strategy • Print & Editorial Design</p>

      <hr>

      <h2 id="speaking-awards">Speaking + Awards</h2>
      <div class="case-study__details small--extra row left-align row--compact">
        <p class="column"><strong>DrupalCon Atlanta 2025</strong> | "Site Building with Translation, Regionalization, and Layout Builder" | <a href="https://youtu.be/MsGaX9q___s?si=RNwdQpZaj3NG1sVU" target="_blank">Watch the presentation (Youtube) →</a></p>
        <p class="column"><strong>No Code Conference 2019</strong> | "Life is not static — your designs shouldn't be either" | <a href="https://docs.google.com/presentation/d/1sy0T7yEY_IkVJ4_MeO2dn1VzY-_5gvGNfBP9S2edGAg" target="_blank">Presentation (Google Sheets) →</a></p>
        <p class="column"><strong>International Business Awards</strong> | Bronze | For <a href="https://chromatichq.com" target="_blank">chromatichq.com</a> design</p>
        <p class="column"><strong>dotComm Awards</strong> | Platinum + Gold | For web and branding design of Chromatic (2022)</p>
        <p class="column"><strong>AIGA 365</strong> | 2006 + 2007</p>
        <p class="column"><strong>Communication Arts</strong> | Site of the Week | For American Red Cross' 9/11 Legacy Fund</p>
        <p class="column"><strong>Design Matters</strong> | Best of Brochures</p>
        <p class="column"><strong>STEP</strong> | Best of the Web, Design 100</p>
        <p class="column"><strong>W3 Awards</strong> | Silver (x2) + Gold</p>
      </div>

      <hr>

      <h2 id="skills-tech-platforms">Skills + Technology + Platforms</h2>

      <h3>Sales + Management</h3>
      <ul class="small columns--three">
        <li>Bamboo</li>
        <li><s>Know Your Team</s> Canopy</li>
        <li>GitHub Billing and Settings
        <li>Google Suite</li>
        <li>Harvest + Forecast</li>
        <li>HubSpot</li>
        <li>Keynote</li>
        <li>OneTrust</li>
        <li>Qwilr</li>
        <li>Salesforce</li>
        <li>Slack</li>
      </ul>

      <h3>Production</h3>
      <ul class="small columns--three">
        <li>Agile Methodology</li>
        <li>Asana</li>
        <li>Atlassian</li>
        <li>ClickUp</li>
        <li>Basecamp</li>
        <li>GitLab Issues</li>
        <li>GitHub Projects</li>
        <li>Hive</li>
        <li>Linear</li>
        <li>Microsoft 365</li>
        <li>Notion</li>
        <li>Parallax</li>
        <li>Slack Project Tracker</li>
        <li>TeamGantt</li>
      </ul>

      <h3>Design + Content</h3>
      <ul class="small columns--three">
        <li>Adobe Creative Suite: XD, Illustrator, Photoshop, InDesign, After Effects</li>
        <li>Affinity Studio: Designer, Photo, Publisher</li>
        <li>Canva</li>
        <li>DeepL</li>
        <li>Figma + FigJam</li>
        <li>Gather Content</li>
        <li>Miro</li>
        <li>TransPerfect</li>
        <li>Webflow</li>
        <li>Whimsical</li>
        <li>Wistia</li>
        <li>Vimeo</li>
        <li>Youtube</li>
      </ul>

      <h3>Language + Syntax</h3>
      <ul class="small columns--three">
        <li>Markup: Vanilla HTML and flavors like Twig, Pug, Nunjucks, JSX, and MDX</li>
        <li>Styling: Vanilla CSS and sassy flavors like SCSS, Stylus, and CSS-in-JS</li>
        <li>Scripting: PHP, Python, vanilla JavaScript and flavors like TypeScript and React-likes (Astro, Angular, Next, and Vue)</li>
        <li>Configuration through Symfony, JSON, and Yaml</li>
        <li>Git with GitHub, Bitbucket, and GitLab</li>
        <li>Extensive agentic coding and prompt engineering (Claude Code preferred)</li>
      </ul>

      <h3>Analysis + CI/CD</h3>
      <ul class="small columns--three">
        <li>Adobe Tag Manager</li>
        <li>BrightEdge</li>
        <li>BrowserStack: Percy and Live</li>
        <li>Calibre</li>
        <li>Crowdstrike</li>
        <li>GitHub Actions and Workflows</li>
        <li>Google Analytics and GTM</li>
        <li>Sentry</li>
        <li>StackHawk</li>
        <li>Tugboat</li>
        <li>VWO</li>
      </ul>

      <h3>Platforms</h3>
      <ul class="small columns--three">
        <li>AWS S3 and ECS</li>
        <li>Drupal 8-11</li>
        <li>Eleventy (11ty)</li>
        <li>Framer</li>
        <li>Pantheon</li>
        <li><s>Platform.sh</s> Upsun</li>
        <li>Shopify</li>
        <li>Squarespace</li>
        <li>Webflow</li>
        <li>Wix</li>
        <li>WordPress</li>
        <li>Vercel</li>
      </ul>

      <hr>

      <h2 id="references">References</h2>

      <blockquote class="small">
        <p>Dan is the most exceptional Team Lead I've had the privilege of working with. Not only were they equally invested in project management priorities and practices, they worked hard to ensure our processes were effectively executed on by our engineering team. (Their retros are the best after mine!) Whenever our project load exceeded our team's capacity, I could trust that projects Dan managed would go as smoothly as those my team managed.</p>
      </blockquote>
      <p class="small--extra"><a href="https://linacalin.com/" target="_blank">Lina Calin</a> • Project Management Consultant</p>
      <hr class="compact light">
      <blockquote class="small">
        <p>What makes Dan special isn't their keen design eye, their attention to detail, or their engineering prowess. You will find loads of folks that have all three… and Dan is indeed among the best I've seen.</p>
        <p>No. What makes Dan so special is their ability to understand people. Their sensitivity in this regard is their super power. They pick up on things others simply miss. They see the forest through the trees, while keeping their projects and teams moving in the right direction. Their sensitivity to others makes all the difference.</p>
        <p>I never once had to worry about the assignments I gave them, no matter how big and ambitious they might've been. Dan always delivered. That they'd do it while making you smile, well that was the just icing on the cake.</p>
      </blockquote>
      <p class="small--extra"><a href="https://www.chrisfree.com/" target="_blank">Chris Free</a> • Sales Engineering Manager at RevenueCat</p>
      <hr class="compact light">
      <blockquote class="small">
        <p>Dan is an astoundingly talented, enthusiastic, and humble designer. When I first met them they already had a lot of experience under their belt. What truly impressed me was their hunger for knowledge on how their designs were implemented or what new tech could be used to enhance their designs. It's this type of collaboration that pushes projects to the next level.</p>
        <p>One of their super powers is the ability to get to the root of the issue and provide intelligent design that brings value to both clients and users. I've seen them help and guide designers into smarter designs; designs that place heavy importance on user experience, performance, and accessibility.</p>
        <p>Aside from their skills as a designer, they've got a stunning appreciation for all types of music. Not to mention they're hilarious. Truly an asset to any company in terms of skills and culture.</p>
      </blockquote>
      <p class="small--extra"><a href="https://www.jmejia.com/" target="_blank">James Mejia</a> • Frontend Engineer at Bixal</p>
      <hr class="compact light">
      <blockquote class="small">
        <p>Dan is exceptional, always willing to share their deep expertise in an accessible manner. They are generous with their time, getting team members up to speed on design or development best practices, while also being open to learn and adapt as tech and the industry changes. I always looked forward to Dan's candor and kind demeanor on projects. Dan's humility and transparency combined with their technical and design expertise are the ingredients to a secret sauce that elevates any team.</p>
      </blockquote>
      <p class="small--extra"><a href="http://larrywalangitan.com/" target="_blank">Larry Walangitan</a> • Engineering Manager at Gen</p>
      <hr class="compact light">
      <blockquote class="small">
        <p>Dan is the best web designer that I've had the privilege to work with, which I don't say lightly. They not only have a fantastic aesthetic sense for design, but also grasps technology in a way that goes far beyond the visual and truly accounts for the fluidity of the web. When many sites mocked up in Photoshop are breaking because of a new device or extra-long piece of content, Dan's are adapting gracefully because they thought ahead.</p>
        <p>While working with a designer as technically savvy as Dan made projects easier from a development standpoint, even more gratifying was watching them mentor newer designers, encouraging the same critical thinking, problem solving skills, and understanding of front-end principles. They're an all-around fantastic creative leader and teammate.</p>
      </blockquote>
      <p class="small--extra"><a href="https://www.abbymilberg.com/" target="_blank">Abby Milberg</a> • Website Manager at Upsun</p>
      <hr class="compact light">
      <blockquote class="small">
        <p>With wide points of reference, a developer's eye for detail, and a personal aesthetic that creeps into their work in exceptional ways, Dan's makeup as a designer — from my perspective — is utterly unique, which made the task of managing them a non-issue.</p>
        <p>That fact found them taking on the most complex projects for our team, ranging from full redesigns for consumer-facing brands to product prototyping for applications. Regardless of scope, Dan delivered their work with detailed documentation (our engineers LOVED them), with a business understanding of our client's needs, and with well-timed comic relief.</p>
      </blockquote>
      <p class="small--extra">Mark Lavoritano • Partner at TEACHER</p>
      <hr class="compact light">
      <blockquote class="small">
        <p>I collaborated with Dan on an expansive and highly interactive website redesign for a non-profit in Texas; it was my first time working with Dan. They were immediately providing ideas for process and deliverables that were demonstrable improvements and got our entire team enthusiastic for the work. Dan's innovative mind, generous spirit, and rare depth of knowledge and experience are precious in this industry! I'd bring Dan into any project I work on again if given the opportunity.</p>
      </blockquote>
      <p class="small--extra">Grace Stoeckle • Senior Manager (UX Research) at Fanatics</p>

      <details>
        <summary>Full Client List</summary>
        <ul class="small--extra columns--three space--top">
          <li>Aerospace</li>
          <li>Aerothreads</li>
          <li>American Red Cross</li>
          <li>American Society of Clinical Oncology</li>
          <li>ATCC</li>
          <li>BASF</li>
          <li>BBDO New York</li>
          <li>BBYO</li>
          <li>Biotechnology Industry Organization</li>
          <li>Boston Herald</li>
          <li>CarIQ</li>
          <li>Carnegie Museum of Art</li>
          <li>City Center at Bishop Ranch</li>
          <li>Communities in School</li>
          <li>Cooperative of American Physicians</li>
          <li>The Charles Stark Draper Laboratory</li>
          <li>Cuningham Architectural Group</li>
          <li>Farm Journal</li>
          <li>Granite Construction</li>
          <li>Guardian Protection</li>
          <li>Imprivata</li>
          <li>Japan Society</li>
          <li>John F. Kennedy Presidential Library & Museum</li>
          <li>LANXESS</li>
          <li>Library of Congress</li>
          <li>LifeStyles Condoms / SKYN</li>
          <li>London Plane</li>
          <li>MaineHealth</li>
          <li>Neal Sperling</li>
          <li>New York Road Runners</li>
          <li>Nordic Reach</li>
          <li>Nordsjernan</li>
          <li>Norwest Venture Partners</li>
          <li>One Rock Capital</li>
          <li>Perella Weinberg Partners</li>
          <li>Pittsburgh Parks Conservancy</li>
          <li>Pulte Homes</li>
          <li>Quicken</li>
          <li>Quorum Consulting</li>
          <li>Renew Financial</li>
          <li>SAE International</li>
          <li>Segal Benz</li>
          <li>Shift Digital</li>
          <li>SRI International</li>
          <li>Sugar Films</li>
          <li>SunPower</li>
          <li>Swedish News</li>
          <li>Texas Legal Service Center</li>
          <li>The Frances Young Tang Teaching Museum and Art Gallery</li>
          <li>The Journal, AARP International</li>
          <li>TPG Capital</li>
          <li>Tueo Health</li>
          <li>Velocity Mortgage Capital</li>
          <li>William-Sonoma to the Trade</li>
          <li>ZMags</li>
        </ul>
      </details>
    </div>
  </section>
</Basic>
