---
import Basic from '../layouts/Basic.astro';
import '../styles/patterns.css';

import TimelineEntry from '../components/TimelineEntry.astro';

const timelineEntries = [
  {
    eyebrow: 'Inline, external, new tab',
    date: 'YYYY to YYYY',
    heading: 'Heading',
    summary: 'Summary',
    link: {
      url: 'https://reddit.com',
      label: 'Inline link label',
      inline: false,
      newTab: true,
    }
  },
  {
    eyebrow: 'Wrapper, internal, same tab',
    date: '2005 to 2014',
    heading: 'Swedish News, Inc.',
    summary: 'Art Director and lorem ipsum dolor sit amet, consectetur adipiscing elit.',
    link: {
      url: '/case-studies/swedish-news',
      label: 'Read the case study',
      inline: false,
      newTab: false,
    }
  },
  {
    eyebrow: 'Award | Editorial Design',
    date: '2006',
    heading: 'AIGA 365',
    summary: 'Summary of AIGA 365 award.'
  }
];
---

<Basic>
  <div class="timeline">
    {timelineEntries.map((entry) => (
      <TimelineEntry timelineEntry={entry} />
    ))}
  </div>
</Basic>
