---
import '../styles/navigation.css';
---

<footer>
  <section class="compact">
    <div class="container">
      <div class="row row--five">
        <div class="column">
          <a class="standalone small" href="https://linkedin.com/in/dan-arbello" target="_blank">LinkedIn</a>
        </div>
        <div class="column">
          <a class="standalone small" href="https://github.com/danarbello" target="_blank">GitHub</a>
        </div>
        <div class="column">
          <a class="standalone small" href="https://codepen.io/danarbello" target="_blank">CodePen</a>
        </div>
        <div class="column">
          <a class="standalone small" href="https://open.spotify.com/user/vd1kufvz6vzqxlsxwrpw605y2?si=26b4a1851a5a4baf" target="_blank">Spotify</a>
        </div>
        <div class="column">
          <a class="standalone small" href="#top">Back up ↑</a>
        </div>
      </div>
    </div>
  </section>
</footer>
