<footer>
  <nav>
    <ul>
      <li><a href="/resume">Resume</a></li>
      <li><a href="/testimonials">Testimonials</a></li>
      <li><a href="https://linkedin.com/in/dan-arbello" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/danarbello" target="_blank">GitHub</a></li>
      <li><a href="https://codepen.io/danarbello" target="_blank">Codepen</a></li>
      <li><a href="https://open.spotify.com/user/vd1kufvz6vzqxlsxwrpw605y2?si=26b4a1851a5a4baf" target="_blank">Spotify</a></li>
    </ul>
  </nav>
</footer>
