---
import '../styles/navigation.css';
import '../styles/row.css';
---

<footer>
  <section class="compact">
    <div class="container">
      <div class="row row--five small--extra bold">
        <div class="column">
          <a class="standalone" href="https://linkedin.com/in/dan-arbello" target="_blank">LinkedIn</a>
        </div>
        <div class="column">
          <a class="standalone" href="https://github.com/danarbello" target="_blank">GitHub</a>
        </div>
        <div class="column">
          <a class="standalone" href="https://codepen.io/danarbello" target="_blank">CodePen</a>
        </div>
        <div class="column">
          <a class="standalone" href="https://music.youtube.com/channel/UClMeEC_KW6RLfHz3fhxuEVg" target="_blank">Youtube Music</a>
        </div>
        <div class="column">
          <a class="standalone" href="#top">Back up ↑</a>
        </div>
      </div>
    </div>
  </section>
</footer>
