---
import '../styles/navigation.css';
---

<header class="small--extra" id="top">
  <nav>
    <span><strong>Dan Arbello</strong> | Design | Engineering</span>
    <ul>
      <li><a class="standalone" href="/">Home</a></li>
      <li><a class="standalone" href="/fragments">Fragments</a></li>
      <li><a class="standalone" href="/resume">Resume</a></li>
    </ul>
  </nav>
</header>

<script>
  const currentPath = window.location.pathname;
  const links = document.querySelectorAll('header .standalone');
  links.forEach(link => {
    if (link.getAttribute('href') === currentPath) {
      link.classList.add('current');
    }
  });
</script>
