---
import '../styles/navigation.css';

const navLinks = [
  { href: '/', label: 'Home' },
  { href: '/fragments', label: 'Fragments' },
  { href: '/resume', label: 'Resume' }
];
---

<header class="small--extra" id="top">
  <nav>
    <span><strong>Dan Arbello</strong> | Design | Engineering</span>
    <ul>
      {navLinks.map(({ href, label }) => (
        <li>
          <a class={`standalone${Astro.url.pathname === href ? ' current' : ''}`} href={href}>
            {label}
          </a>
        </li>
      ))}
    </ul>
  </nav>
</header>
