---
import '../styles/navigation.css';
---

<header class="small--extra" id="top">
  <nav>
    <span><strong>Dan Arbello</strong> | Design | Engineering</span>
    <ul>
      <li><a class="standalone" href="/">Home</a></li>
      <li><a class="standalone" href="/resume">Resume</a></li>
    </ul>
  </nav>
</header>
