---
import '../styles/navigation.css';
---

<header class="small--extra" id="top">
  <nav>
    <span><strong>Dan Arbello</strong> | Design | Engineering</span>
    <ul>
      {['/', '/fragments', '/resume'].map((href) => (
        <li key={href}>
          <a className={`standalone${Astro.url.pathname === href ? ' current' : ''}`} href={href}>
            {href === '/' ? 'Home' : href.replace('/', '').charAt(0).toUpperCase() + href.slice(2)}
          </a>
        </li>
      ))}
    </ul>
  </nav>
</header>
