<head>
  <meta charset="UTF-8" />
  <title>Dan Arbello | Design | Engineering</title>
  <meta content="A unique breed of both visual and logical design: blending the role of a creative leader and bridging the gap between engineers and designers." name="description">
  <meta content="Dan Arbello | Design | Engineering" property="og:title">
  <meta content="A unique breed of both visual and logical design: blending the role of a creative leader and bridging the gap between engineers and designers." property="og:description">
  <meta property="og:type" content="website">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <!-- <link rel="dns-prefetch" href="https://www.googletagmanager.com/"> -->
  <!-- <link href="https://www.googletagmanager.com/gtag/js?id=G-TNKRYXST33" rel="preload" as="script"> -->
  <!-- <link href="styles/gtag.js" rel="preload" as="script"> -->
</head>
