<div class="container">
  <p class="display quote center">“Our very success as a species is rooted in our ability to be aware of each other’s needs…”</p>
  <br>
  <p class="small--extra center" style="margin-bottom:-1rem;">Quote from <a href="https://www.faber.co.uk/journal/announcing-on-connection-by-kae-tempest/" target="_blank">Kae Tempest</a> • Headline typeface by María Ramos + Noel Pretorius (<a href="https://www.nmtype.com/movement/" target="_blank">NMType</a> in collab with Design Indaba)</p>
</div>