---
import '../styles/maries-terminal.css';
---

<maries-terminal class="terminal">
  <div class="terminal__header">~/Sites/astro git:(feature/7-maries-terminal)</div>
  <div class="terminal__output"></div>
</maries-terminal>

<script src="/scripts/maries-terminal.js" is:inline defer></script>
