---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.css';
import '../styles/modifiers.css';

const { metadata } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head {metadata} />
	<Header />
	<body>
		<main role="main">
			<slot />
		</main>
	</body>
	<Footer />
</html>
