---
import Basic from '../../layouts/Basic.astro';
import '../../styles/patterns.css';
---

<Basic>
  <section class="case-study">
    <div class="container">
      <p class="eyebrow small--extra">Case Study</p>
      <h1 class="largest">Bestowing Draper Labs With a History-Driven Web Experience</h1>
      <div class="site-viewer" style="background-image: url('/images/siteviewers/siteviewer__draper.webp')" aria-label="Screen capture of Draper.com"></div>
      <div class="case-study__details small--extra row left-align row--four row--compact">
        <p class="column">Agency: <a href="https://thirdandgrove.com" target="_blank">Third & Grove</a></p>
        <p class="column">Role: Design Lead</p>
        <p class="column">Year(s): 2016-18</p>
        <p class="column">Client: <a href="https://draper.com" target="_blank">The Charles Stark Draper Laboratory</a></p>
      </div>
      <details open>
        <summary>Summary</summary>
        <p>The Charles Stark Draper Laboratory, a renowned research and development organization, collaborated with Third & Grove to undertake a comprehensive redesign and overhaul of their website. As the project lead, I worked closely with the Director of Strategy and Producers at Third & Grove to execute the transformation. The project was strategically divided into two phases, allowing for data collection and a more user-centric approach.</p>
      </details>
      <details open>
        <summary>Problem</summary>
        <p>The existing website faced several challenges:</p>
        <ul>
          <li><strong>User Navigation:</strong> Users were struggling to find key pages, leading to a need for a more intuitive and efficient navigation system.</li>
          <li><strong>User Data Collection:</strong> The lack of proper tracking and user data from the previous agency necessitated the collection of valuable insights to guide the redesign.</li>
          <li><strong>Highlighting Labs and Capabilities:</strong> Draper wanted to emphasize the importance of their labs and capabilities as a cohesive unit rather than isolated elements.</li>
        </ul>
      </details>
      <details open>
        <summary>Phase One</summary>
        <p class="mediumer"><strong>Solution</strong></p>
        <p>The initial phase of the redesign focused on improving the navigation and addressing user pain points. The following solutions were implemented:</p>
        <ul>
          <li><strong>Data-Driven Navigation:</strong> By analyzing Google Analytics data, key pages that users had difficulty accessing were identified and prioritized for improvement.</li>
          <li><strong>Navigation Redesign:</strong> The navigation system was overhauled to enhance user experience, making it easier for visitors to find important content and explore the website seamlessly.</li>
        </ul>
        <p class="mediumer"><strong>Results</strong></p>
        <p>The navigation redesign delivered remarkable results:</p>
        <ul>
          <li>Solutions page views increased by 108%</li>
          <li>Careers page views increased by 48%</li>
          <li>News page views increased by 106%</li>
          <li>Overall page views increased by 24%</li>
        </ul>
      </details>
      <details open>
        <summary>Phase Two</summary>
        <p class="mediumer"><strong>Solution</strong></p>
        <p>Building on the success of Phase 1, the second phase focused on a complete overhaul and redesign of the website. Key solutions included:</p>
        <ul>
          <li><strong>Component-Based Editing Experience:</strong> The website was redesigned with a component-based editing system, enabling Draper's team to deploy numerous iterations and pages effortlessly without compromising on design quality.</li>
          <li><strong>Content-Centric Approach:</strong> The user experience was streamlined to prioritize and highlight Draper's core content, showcasing their expertise and capabilities.</li>
          <li><strong>Dynamic Taxonomy Structure:</strong> To express the importance of labs and capabilities collectively, a dynamic taxonomy structure was implemented, allowing related nodes across the site to be grouped seamlessly.</li>
          <li>
            <strong>In-medium Design Deliverables:</strong> As part of the typical design process I established at Third & Grove, this project included in-medium design deliverables (creative designed and built with HTML, CSS, and JavaScript). Not only did this allow for all stakeholders — no matter technical skills or knowledge — to review creative immediately, it also served as more definitive and granular development materials
            <ul>
              <li><a href="/prototypes/draper/index.html" target="_blank">UX/UI Prototypes ➝</a></li>
            </ul>
          </li>
        </ul>
        <p class="mediumer"><strong>Results</strong></p>
        <p>The second phase yielded significant improvements:</p>
        <ul>
          <li>Video background heroes and tiles created an engaging and visually appealing user experience.</li>
          <li>The content-centric approach helped users easily access and comprehend Draper's areas of expertise and offerings.</li>
          <li>The dynamic taxonomy structure reinforced the interconnectedness of labs and capabilities, providing visitors with a more comprehensive understanding of Draper's strengths.</li>
        </ul>
      </details>
      <details open>
        <summary>Conclusion</summary>
        <p>Through a strategic two-phase approach, the redesign and overhaul of The Charles Stark Draper Laboratory website successfully addressed user navigation challenges, boosted engagement, and showcased Draper's expertise effectively. The data-driven navigation enhancements significantly improved page views for key sections, while the second phase's redesign fostered a content-centric experience that emphasized Draper's labs and capabilities as a cohesive entity. The collaboration with Third & Grove resulted in a visually appealing and user-friendly website that highlights Draper's achievements, positioning them as a leading research and development institution in their field.</p>
        <p>Additionally, I lead ideation pitches for the web portal of Sugar Films and Draper's celebration of the 50th anniversary of the moon landing. This resulted in three in-medium prototypes:</p>
        <ul>
          <li><a href="/prototypes/apollo/index.html" target="_blank">Prototype Version 1 ➝</a></li>
          <li><a href="/prototypes/apollo2/index.html" target="_blank">Prototype Version 2 ➝</a></li>
          <li><a href="/prototypes/apollo3/index.html" target="_blank">Prototype Version 3 ➝</a></li>
        </ul>
      </details>
    </div>
  </section>
</Basic>
