---
import Basic from '../../layouts/Basic.astro';
import '../../styles/patterns.css';

const metadata = {
  title: 'Unlocking Imprivata’s Coverage for Several New Markets',
  description: 'Consulting with a security/SaaS organization to expand their brand goodwill, reach greater markets, and integrate recently acquired subsidiaries into their marketing website.'
};
---

<Basic {metadata}>
  <section class="case-study">
    <div class="container">
      <p class="eyebrow small--extra">Case Study</p>
      <h1 class="largest">{metadata.title}</h1>
      <div class="site-viewer" style="background-image: url('/images/siteviewers/siteviewer__imprivata.webp')" aria-label="Screen capture of Imprivata.com"></div>
      <div class="case-study__details small--extra row left-align row--four row--compact">
        <p class="column">Agency: <a href="https://chromatichq.com" target="_blank">Chromatic</a></p>
        <p class="column">Role: Account Lead + Tech Lead</p>
        <p class="column">Year(s): 2019-23</p>
        <p class="column">Client: <a href="https://imprivata.com" target="_blank">Imprivata</a></p>
      </div>
      <details open>
        <summary>Summary</summary>
        <p>In the highly competitive landscape of health security and verification services, Imprivata faced the challenge of maintaining and increasing its brand goodwill beyond its current market. Their aim was aim was to achieve this through strategic marketing initiatives on its website and other digital platforms. Additionally, the recent acquisition of subsidiaries required seamless integration into the company's marketing website. To address these challenges, we sought a comprehensive solution that would leverage cutting-edge technologies and best practices in web development.</p>
      </details>
      <details open>
        <summary>Problem</summary>
        <p>Imprivata identified three key challenges that needed to be addressed:</p>
        <ul>
          <li><strong>Expanding Brand Goodwill:</strong> Imprivata needed to reach a broader audience beyond its current market of health services through effective marketing strategies on its website and digital platforms.</li>
          <li><strong>Subsidiary Integration:</strong> The recent acquisition of subsidiaries necessitated the migration of their digital assets into the parent brand's marketing website seamlessly.</li>
          <li><strong>Website Integrations and Rebranding:</strong> Imprivata's website and design system would require three Drupal updates, migration from D7 to D8, and adaptation to two major corporate rebrands.</li>
        </ul>
      </details>
      <details open>
        <summary>Solution</summary>
        <p>To address the challenges and fulfill Imprivata's objectives, the following comprehensive solution was proposed:</p>
        <ul>
          <li><strong>Discovery and Audits:</strong> A thorough analysis of the existing website, code performance, and user experience (UX/UI) was conducted to identify areas of improvement and optimization opportunities.</li>
          <li><strong>Design System Enhancement:</strong> Regular inventorying, optimization, and enhancement of the design system were implemented to ensure consistency across the website and its peripheral digital platforms.</li>
          <li><strong>Third-party Design Vendor Gap-filling:</strong> To align with business goals and stakeholder requirements, the team filled the gaps left by third-party design vendors, resulting in well-defined agile user stories and engineering tickets for smooth implementation.</li>
          <li><strong>Project Management and Technical Leadership:</strong> The project was supported by experienced project managers, providing technical leadership and engineering management throughout the development process.</li>
        </ul>
      </details>
      <details open>
        <summary>Result</summary>
        <p>The implementation of the proposed solution yielded significant results:</p>
        <ul>
          <li><strong>Website Theme Rebuild:</strong> Imprivata.com's theme was completely rebuilt using a robust design system that utilized Pattern Lab and Drupal 8. This overhaul ensured a cohesive and visually appealing user experience across all web properties.</li>
          <li><strong>UX/UI Consulting and Enhancements:</strong> Tactical consulting and continuous improvements in the user experience and user interface were carried out, resulting in a more engaging and intuitive user journey.</li>
          <li><strong>Seamless Drupal 10 Upgrade: </strong> In preparation for the Drupal 10 upgrade, the Pattern Lab decoupled design system was deprecated and integrated back into the Drupal theme codebase. This streamlining significantly increased maintenance legibility and comprehension, leading to reduced engineering frustrations and faster time-to-live for feature requests and adjustments.</li>
          <li><strong>Multi-Site Integration:</strong> The team successfully recoupled international multi-sites into a single Drupal 10 instance with Translations configuration, ensuring a seamless migration process for the multi-sites.</li>
          <li><strong>Enhanced Performance:</strong> The website properties witnessed a drastic improvement in performance, user flows, and SEO audits, resulting in an enhanced user experience and improved search engine visibility.</li>
        </ul>
      </details>
      <details open>
        <summary>Conclusion</summary>
        <p>In conclusion, Imprivata's decision to invest in a comprehensive web development solution proved to be a game-changer. By leveraging the expertise of Chromatic's experienced professionals and adopting cutting-edge facets of Drupal, Imprivata successfully expanded its brand goodwill and integrated recently purchased subsidiaries into its marketing website seamlessly. The strategic upgrades, rebranding efforts, and optimization initiatives led to a visually appealing, high-performing, and user-friendly website that continues to attract a broader audience and strengthen the brand's position in the health services market and beyond.</p>
      </details>
    </div>
  </section>
</Basic>
